@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.Project_name {
    text-align: center;
}

body {
    font-family: "Indie Flower", cursive;
    font-weight: 600;
    font-style: normal;
    background-color: rgb(16, 32, 41);
}

.Project_name span {
    font-size: 96px;
    color: rgb(155, 208, 250);
}
.Project_name {
    margin-top: 40px;
}
.camera {
    background-color: aliceblue;
    width: 700px;
    height: 500px;
    display: flex; 
    border-radius: 36px;
    justify-content: center;
    align-items: center;
    margin: 54px auto;
}