@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    font-family: "Indie Flower", cursive;
    background-color: rgb(16, 32, 41);
    color: white;
    text-align: center;
}

.Project-name {
    margin-top: 20px;
}

.camera {
    display: flex; 
    justify-content: center;
    margin: 16px auto;
}

video {
    margin-top: 20px;
    border-radius: 15px;
    width: 640px;
    height: 480px;
    background-color: #333;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 5px;
}

button:disabled {
    background-color: grey;
}
