@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    font-family: "Indie Flower", cursive;
    background-color: rgb(16, 32, 41);
    color: white;
    background: #133E87;
}
nav {
    top: 0px;
}

.main {
    background: #03346E;
    width: 100%;
    height: 75px;
    position: fixed;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 25px;
}

.main a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin-left: 50px;
    margin-bottom: 0px;
}

.yellow {
    background: #FFA600;
    height: 5px;
    width: 100%;
    position: fixed;
    top: 90px;
    border-radius: 25px;
}

.yellow2 {
    background: #FFA600;
    height: 5px;
    width: 100%;
    position: fixed;
    top: 80px;
    border-radius: 25px;
}

.right-text {
    margin-left: 1570px;
    position: fixed;
    margin-bottom: 0px;
    font-size: 45px;
}
.camera {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

.camera video {
    width: 640px;
    height: 480px;
    border: 2px solid white;
    border-radius: 8px;
}

