@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    font-family: "Indie Flower", cursive;
    background-color: rgb(16, 32, 41);  
    color: white;
    background: #dde5e74d;
}

nav {
    top: 0px;
}

.main {
    background: transparent;
    width: 97%;
    height: 50px;
    margin-top: 7px;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: right;
    gap: 70px;
    border: 2px solid #45599b;
}

.left-links {
    display: flex;
    gap: 20px;
}

.main a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.yellow {
    background: #FFA600;
    height: 5px;
    width: 100%;
    position: fixed;
    top: 90px;
    border-radius: 25px;
}

.yellow2 {
    background: #FFA600;
    height: 5px;
    width: 100%;
    position: fixed;
    top: 80px;
    border-radius: 25px;
}

.right-text {
    font-size: 45px;
    position: relative;
    margin-right: 40px;
}

.camera {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.camera video {
    width: auto;
    height: auto;
    border: 2px solid rgb(67, 97, 126);
    border-radius: 8px;
}

@media (max-width: 1200px) {
    .right-text {
        margin-left: 1200px;
        font-size: 40px;
    }

    .main a {
        font-size: 35px;
        margin-left: 30px;
    }

    .camera video {
        width: 540px;
        height: 400px;
    }
}

@media (max-width: 768px) {
    .right-text {
        margin-left: 500px;
        font-size: 30px;
        position: relative;
    }

    .main {
        flex-direction: column;
        height: auto;
        padding: 5px;
    }

    .main a {
        font-size: 25px;
        margin-left: 0;
        margin-top: 10px;
    }

    .camera {
        margin-top: 100px;
    }

    .camera video {
        width: 100%;
        height: auto;
    }

    .yellow, .yellow2 {
        display: none;
    }
}

@media (max-width: 480px) {
    .right-text {
        font-size: 20px;
        text-align: center;
        margin: 10px 0;
    }

    .main a {
        font-size: 20px;
    }
}

.container {
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    padding: 20px;
    gap: 10px;
}

.column-left{
    background-color: transparent;
    color: black;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #45599b;
    flex: 1;
}

.column-middle{
    background-color: transparent;
    color: black;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #45599b;
    flex: 1;
}

.column-right{
    background-color: transparent;
    color: black;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #45599b;
    flex: 1;
}

.camera {
    height: 70%;
    margin-top: 25px;
    border-radius: 24px;
}

