<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blink test</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="main">
        <a href="https://github.com/nanenooo/Project_PSCP" target="_blank">Github</a>
        <a href="">How to use</a>
        <a href="index.html" class="right-text">Main</a>
    </nav>
    
    <div class="container">
        <div class="column-left">
            <h1>Blink count per min</h1>

            <h1>Average min</h1>
        </div>

        <div class="column-middle">
            <h1>Blink count :</h1>
        </div>

        <div class="column-right">
            <h1>Suggest blink per min</h1>

        
        </div>
    </div>
    
</body>
</html>