<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blink test</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="main">
        <a href="/" class="right-text">Main</a>
    </nav>

    <div class="container">
        <div class="column-left">
            <h1>Blink count per min: <span id="blinkCountPerMin">0</span></h1>
            <h1>Average min: <span id="averageMin">0.00</span></h1>
        </div>
    
        <div class="column-middle">
            <h1>Blink Count: <span id="blinkCountDisplay">0</span></h1>
            <h1 id="blinkCountDisplay"></h1>
            <div class="camera">
                <img id="video" src="{{ url_for('video_feed') }}" alt="Camera Feed">
            </div>
        </div>
    
        <div class="column-right">
            <h1>Suggest blink</h1>
            <h1>per min : 15-20times</h1>
        </div>
    </div>
    
    <script>
        // อัปเดตค่า
        async function updateBlinkData() {
            try {
                const response = await fetch('/blink_count');
                const data = await response.json();

                document.getElementById('blinkCountPerMin').textContent = data.blink_count_per_min;
                document.getElementById('averageMin').textContent = data.average_min;
                document.getElementById('blinkCountDisplay').textContent = data.blink_count;

                if (blinkCountPerMin < 15) {
                    alert("Warning: Blink count per minute is below the suggested range!");
                }
            } catch (error) {
                console.error('Error fetching blink data:', error);
            }
        }

        setInterval(updateBlinkData, 100);
        updateBlinkData();
    </script>
</body>
</html>
