<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class ="main">
            <a href="https://github.com/nanenooo/Project_PSCP">Github</a>
            <a href="">Youtube</a>
            <div class = "right-text">
                BlinkSense
            </div>
            <div class="yellow"></div>
            <div class="yellow2"></div>
    </nav>

    <div class="camera">
        <video id="video" autoplay playsinline></video>
    </div>
    <script src="script.js"></script>
</body>
</html>
