<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <script src="/static/script.js"></script>
    <nav class="main">
        <div class="left-links">
            <a href="https://github.com/nanenooo/Project_PSCP" target="_blank">GitHub</a>
            <a href="">YouTube</a>
        </div>
        <div class="right-text">
            BlinkSense
        </div>
        <div class="yellow"></div>
        <div class="yellow2"></div>
    </nav>

    <div class="camera">
        <img id="video" src="{{ url_for('video_feed') }}" alt="Camera Feed">
    </div>
    <div id="blinkCountDisplay">Blink Count: 0</div>
<script>
    // รับค่ากระพริบตา
    async function updateBlinkCount() {
    try {
        const response = await fetch('/blink_count');
        if (!response.ok) throw new Error('Network response was not ok');
        const data = await response.json();
        document.getElementById('blinkCountDisplay').innerText = `Blink Count: ${data.blink_count}`;
    } catch (error) {
        console.error('Error fetching blink count:', error);
    }
}
// อัปเดทการกระพริบทุกๆ 1000ms
setInterval(updateBlinkCount, 1000);
</script>
</body>
</html>
