<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <script src="/static/script.js"></script>
    <nav class="main">
        <div class="left-links">
            <a href="https://github.com/nanenooo/Project_PSCP" target="_blank">GitHub</a>
            <a href="">YouTube</a>
        </div>
        <div class="right-text">
            BlinkSense
        </div>
        <div class="yellow"></div>
        <div class="yellow2"></div>
    </nav>

    <div class="camera">
        <video id="video" autoplay playsinline></video>
    </div>
</body>
</html>
